<template>
  <div class="card">
    <!-- <header class="card-header">
      <slot name="header"></slot>
    </header>

    <div class="card-content">
      <slot></slot>
    </div>
    <footer class="card-footer">
      <slot name="footer"></slot>
    </footer> -->
    <!-- <div class="children">
      <slot text="demo slot scoped lalala"></slot>
    </div> -->
    <!-- <input :value="text" type="text" @input="$emit('input', $event.target.value)"> -->
    <!-- <keep-alive :max="10">
      <component :is="view"></component>
    </keep-alive> -->
    <div>{{name?'đúng rồi':'sai rồi'}}</div>
  </div>

</template>

<script>
export default {
  props: {
    name: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      names: this.name
    };
  },
  methods: {
    // name() {
    //   this.name = true;
    // }
  }
};
</script>
<style>
.card {
  justify-content: center;
  align-item: center;
  font-family: monospace;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
}
.card .card-header {
  margin-bottom: 20px;
}
.card .card-footer {
  margin-top: 10px;
  color: #ccc;
}
</style>
