<template>
  <div>
    <template v-for="(item,index) in items">
      <div :key="'item'+index" class="pb-2">
        <div v-if="item.user">
          <div style="float:left">
            <v-avatar size="35px" class="">
              <img :src="item.user.avatar">
            </v-avatar>
          </div>
          <div class="content">
            <div class="direct-chat-text left-item text-xs-left " :class="item.image && !item.content?'transparent':'grey lighten-4'">
              <span class="mr-2 font-weight-bold caption mr-1" :class="color+'--text'">{{item.user.name}}</span>
              <span style="font-size:13px" class="font-weight-regular">{{item.content}} </span>
            </div>
          </div>
        </div>
        <div class="caption grey--text text-xs-left" style="margin-left:60px">
          <div v-if="item.image" class="pt-1">
            <img :src="item.image" width="150px" height="150px" style="border-radius:8px; object-fit:cover">
          </div>
          <small v-if="children" class="pr-2" @click="toggleExpansion(index)">
            <v-icon size="13px" :color="light?'white':''">reply</v-icon>
          </small>
          <small v-if="!hide_like" class="pr-2" :class="likeComment(item.like_user)?'red--text':''">
            <v-icon @click="likeItem(item)" size="10px" :color="likeComment(item.like_user)?'red':(light?'white':'')">{{likeComment(item.like_user)?'favorite':'favorite_border'}}</v-icon>
            {{item.like_user.length}}
          </small>
          <small>2 gio truoc</small>
        </div>
        <div @click="toggleExpansion(index)" class="caption grey--text text-xs-left mt-1" style="margin-left:70px" v-if="item.children.length>0 && !isExpanded(index) && children">
          <v-avatar size="15px" v-if="item.children.slice(item.children.length-1, item.children.length)">
            <img :src="item.children.slice(item.children.length-1, item.children.length)[0].user.avatar">
          </v-avatar>
          <small class="ml-1" :class="light?'white--text':color+'--text'">
            {{item.children.slice(item.children.length-1, item.children.length)[0].user.name}}
            <span>đã trả lời</span>
          </small>
        </div>
      </div>
      <div v-if="children" v-show="isExpanded(index)" :key="'child'+index" style="padding-left:50px">
        <template v-for="(child,index_child) in item.children">
          <div :key="'child-item'+index_child">
            <div style="float:left">
              <v-avatar size="25px" class="mt-1">
                <img :src="child.user.avatar">
              </v-avatar>
            </div>
            <div class="content">
              <div class="direct-chat-text child-item text-xs-left grey lighten-4">
                <span class=" mr-2 font-weight-bold caption mr-1" :class="color+'--text'">{{child.user.name}}</span>
                <span style="font-size:13px" class="font-weight-regular">{{child.content}} </span>
              </div>
            </div>
          </div>
          <div class="caption grey--text text-xs-left" style="margin-left:56px" :key="'child1-item'+index_child">
            <small class="mr-2" v-if="!hide_like" :class="likeComment(child.like_user)?'red--text':''">
              <v-icon @click="likeItem(child)" size="10px" :color="likeComment(child.like_user)?'red':(light?'white':'')">{{likeComment(child.like_user)?'favorite':'favorite_border'}}</v-icon>
              {{child.like_user.length}}
            </small>
            <small>2 gio truoc</small>
          </div>
        </template>
        <div :key="'child-add'+index" class="pt-1" v-if="Object.keys($store.state.user).length>0 && $store.state.token">
          <div style="float:left">
            <v-avatar size="25px" class="mt-1">
              <img :src="$store.state.user.avatar">
            </v-avatar>
          </div>
          <div class="content">
            <div class="direct-chat-text input-item child-item text-xs-left transparent px-0 pt-0 pb-3">
              <v-form ref="form">
                <v-text-field width="100%" v-model.trim="item.val" placeholder="Viết phản hồi..." background-color="grey lighten-3" :append-icon="upload_photo?'image':'send'" single-line solo hide-details class="custom-input mb-0" @click:append="addChild(item.val, index,item.id), item.val =null" :key="'child-input'+index" @keyup.enter="addChild(item.val, index,item.id), item.val =null"></v-text-field>
              </v-form>
            </div>
          </div>
        </div>
      </div>
    </template>
    <div class="mt-1">
      <div v-if="Object.keys($store.state.user).length>0 && $store.state.token">
        <div style="float:left">
          <v-avatar size="35px">
            <img :src="$store.state.user.avatar">
          </v-avatar>
        </div>
        <div class="content">
          <div class="direct-chat-text left-item  input-item text-xs-left transparent pa-0">
            <v-form ref="form">
              <v-text-field width="100%" v-model.trim="comment" background-color="grey lighten-3" :append-icon="upload_photo?'image':'send'" single-line solo hide-details class="custom-input mb-0" @click:append="upload_photo?selectImage():addComment()" placeholder="Viết bình luận..." @keyup.enter="addComment()"></v-text-field>
              <input type="file" v-show="false" ref="image" @change="onFileChange" required accept="image/*" />
              <div class="label-image" v-if="imagePreview">
                <div class="text-xs-right">
                  <v-icon small class="mr-1" @click="imagePreview=null">close</v-icon>
                </div>
                <img class="ml-2" :src="imagePreview" width="100px" height="100px" style="border-radius:8px; object-fit:cover">
              </div>
            </v-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "VCommentPicker",
  props: {
    items: {
      type: Array
    },
    children: {
      type: Boolean,
      default: false
    },
    children: {
      type: Boolean,
      default: false
    },
    hide_like: {
      type: Boolean,
      default: false
    },
    upload_photo: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: "indigo"
    },
    light: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      val: "",
      comment: "",
      imagePreview: null,
      expandedGroup: []
    };
  },
  methods: {
    isExpanded(key) {
      return this.expandedGroup.indexOf(key) !== -1;
    },

    toggleExpansion(key) {
      if (this.isExpanded(key))
        this.expandedGroup.splice(this.expandedGroup.indexOf(key), 1);
      else this.expandedGroup.push(key);
    },

    addChild(e, index, id) {
      if (e.length > 0) {
        this.$emit("createChild", e, id);
        this.val = e;
        this.items[index].children.push({
          id: "3jjghf",
          user: {
            name: this.$store.state.user.name,
            id: this.$store.state.user.id,
            avatar: this.$store.state.user.avatar
          },
          content: this.val,
          like_user: []
        });
      }
    },
    //
    addComment() {
      if (this.comment.length > 0 || this.imagePreview) {
        this.$emit("createComment", this.comment);
        this.items.push({
          id: "3jjgfgfhfdfd",
          user: {
            name: this.$store.state.user.name,
            id: this.$store.state.user.id,
            avatar: this.$store.state.user.avatar
          },
          children: [],
          like_user: [],
          content: this.comment,
          show_child: false,
          image: this.imagePreview
        });
        this.comment = "";
        this.imagePreview = null;
      }
    },
    //
    likeComment(like_user) {
      let temp = like_user.find(item => {
        return item.id_user === this.$store.state.user.id;
      });

      if (temp) {
        return true;
      } else return false;
    },
    //
    likeItem(item) {
      let temp = item.like_user.find(item => {
        return item.id_user === this.$store.state.user.id;
      });
      if (temp) {
        const index = item.like_user.indexOf(temp);
        item.like_user.splice(index, 1);
      } else {
        item.like_user.push({
          name: this.$store.state.user.name,
          id: "abc-123sds",
          id_user: this.$store.state.user.id
        });
      }
      this.$emit("like", item);
    },

    selectImage() {
      this.$refs.image.click();
    },

    onFileChange() {
      var files = event.target.files || event.dataTransfer.files;
      if (!files.length) return;

      this.showPreview(files[0]);
    },

    showPreview(file) {
      this.imagePreview = file;

      var reader = new FileReader();

      reader.onload = e => {
        this.imagePreview = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  }
};
</script>

<style>
.direct-chat-text {
  border-radius: 20px;
  position: relative;
  display: table;
  padding: 5px 10px;
  margin-right: 0px;
  margin-left: 50px;
  color: #444;
  border: 1px solid #e8f5e9;
}

.child-item {
  margin-left: 40px;
}

.custom-input .v-input__slot {
  border-radius: 20px !important;
  box-shadow: none !important;
  border: solid 1px #e0e0e0 !important;
  -webkit-box-shadow: none !important;
}
.custom-input.v-text-field.v-text-field--solo .v-input__control {
  min-height: 30px !important;
}
.custom-input .v-label {
  font-size: 13px !important;
}
.custom-input {
  font-size: 13px !important;
}
.custom-input .v-icon {
  font-size: 20px !important;
}
.input-item {
  display: block !important;
}
.like-item {
  position: absolute;
  right: -35px;
  border-radius: 18px;
  /* background: white; */
  bottom: 0px;
  width: 40px;
}
.label-image {
  height: 135px;
  border: solid 1px #f5f5f5;
  margin-top: 5px;
  border-radius: 8px;
}
</style>
