<template>
  <v-card flat>
    <v-card-text class="pa-5">
      <v-comment-picker :items="items" children upload_photo @like="like" @createComment="AddComment" @createChild="addChild"></v-comment-picker>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          id: 1,
          user: {
            name: "Tô Thị tuyết nga",
            id: "abc-123xxc",
            avatar:
              "https://c1.staticflickr.com/1/953/27275063937_72c5083d6e_o.jpg"
          },
          content: "Wow đẹp quá",
          children: [],
          like_user: [
            {
              id: "hsff-ccc",
              name: "Nga to",
              id_user: "09865-08765-abc"
            }
          ],
          image: null
        },
        {
          id: 2,
          user: {
            name: "Tô Thị tuyết nga",
            id: "09865-08765-abcdd",
            avatar:
              "https://c1.staticflickr.com/1/953/27275063937_72c5083d6e_o.jpg"
          },
          content: "Wow đẹp quá",
          like: 3,
          like_user: [],
          children: [
            {
              id: "657kk1-c",
              user: {
                name: "Tô Thị tuyết nga",
                id: "abc-123",
                avatar:
                  "https://c1.staticflickr.com/1/953/27275063937_72c5083d6e_o.jpg"
              },
              content: "Cam on ban",
              like_user: [
                {
                  id: "2345-jhf",
                  name: "Nga to",
                  id_user: "09865-08765-abc"
                }
              ]
            },
            {
              id: "657xcx1-c",
              user: {
                name: "Hoàng Hà",
                id: "abc-123",
                avatar:
                  "https://c1.staticflickr.com/1/953/27275063937_72c5083d6e_o.jpg"
              },
              content: "Cam on ban",
              like_user: [
                {
                  id: "2345-jhf",
                  name: "Nga to",
                  id_user: "abc-12d73"
                }
              ]
            },
            {
              id: "6571hh-c",
              user: {
                name: "Vân navy",
                id: "abc-123",
                avatar:
                  "https://c1.staticflickr.com/1/953/27275063937_72c5083d6e_o.jpg"
              },
              content: "Cam on ban",
              like_user: [
                {
                  id: "2345-jhfff",
                  name: "Nga to",
                  id_user: "abc-12dsds73"
                }
              ]
            }
          ],
          image: null
        }
      ]
    };
  },
  methods: {
    like(e) {
      console.log(" Axios like:", e);
    },
    AddComment(e) {
      console.log("Axios add :", e);
    },
    addChild(e, id) {
      console.log("Add child comment:", e);
      console.log("Id comment", id);
    }
  }
};
</script>

<style>
</style>
