<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-text>
        <!-- <h2 slot="header">Vue.js is awesome</h2>
        <p>The Progressive JavaScript Framework</p>
        <p>Another paragraph</p>
        <p slot="footer">Created by Evan You</p> -->
        <!-- <p slot-scope="hello" v-text="hello.text"></p> -->
        <!-- <p slot-scope="{ text }" v-text="text"></p> -->

      </v-text>
      <v-btn color="success" @click="submit()">submit </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import VText from "./extends/ChildComponent.vue";

export default {
  components: {
    VText
  },
  data() {
    return {
      search: "lalala"
    };
  },
  methods: {
    submit() {
      console.log("v-model", this.search);
    }
  }
};
</script>